.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #686D76; */
    width: 100vh;
  }
  
  .signup-form {
    /* background-color: #f4f5f6; */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 315px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-form .form-group {
    margin-bottom: 15px;
  }
  
  .signup-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-form .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #45a049;
  }
  
  .forgot-password,
  .login-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #1976d2;
    text-decoration: none;
  }
  
  .forgot-password:hover,
  .login-link:hover {
    text-decoration: underline;
  }

